#Título {
	color: #7C3131; text-align: center;
    font-size: 50px;
    font-style: garamond;
}

body {
	background-color: #CE8B8B;	 
}

.tabla {
	margin: 50px 200px;
	border: 2px solid;
	border-collapse: collapse;
	padding:5px;
	background: pink;
}
